.logo img{
    height: 110px;
}
.registerpic {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    width: auto;
    height: 500px;
     margin-left: 2%;
}

.title {
    display: flex;
    justify-content: center;
    gap: 1500px;
    margin-left: 30%;
}

.titletext {
    font-size: 25px;
}

.button button {
    margin-top: 20px;
    border: transparent;
    border-radius: 20px;
    background-color: rgb(211, 224, 241);
    padding-left: 14px;
    padding-right: 14px;
    margin-left: -700px;
}

.button button:hover {
  
    border: transparent;
    border-radius: 20px;
    background-color: rgb(154, 192, 242);
    cursor: pointer;
    transition: all .2s ease-in 0s;
    transform: scale(1.03);
}

.button h1 {
    font-size: 30px;
}

.description h1 {
    margin-top: -5px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(102, 102, 102);
    padding-left: 60px;
}

.timesetting {
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-left: 0px;
    margin-top: 50px;
}

.datetime {
    display: flex;
    gap: 30px;
    border: solid 1px black;
    padding: 10px;
    width: 600px;
}

.dateicon i {
    font-size: 80px;
}

.location {
    display: flex;
    gap: 30px;
    border: solid 1px black;
    padding: 10px;
    width: 600px;
}

.locationicon i {
    font-size: 80px;
}

.eventdetails {
    padding-top: 20px;
    padding-left: 50px;
}

.eventdetails h1 {
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.eventdetails h2 {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.organizers {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 70px;
    gap: 20px;

}

.organizer1 {
    display: flex;
    gap: 20px;
    border: solid 1px black;
    border-radius: 30px 0px 0px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 5px;
    width: 700px;
}

.organizer1 h1 {
    font-size: 35px;
}

.organizer1 i {
    font-size: 120px;
}

.organizer1 h2 {
    font-size: 25px;
    color: gray;
}

.organizer2 {
    display: flex;
    gap: 20px;
    border: solid 1px black;
    border-radius: 30px 0px 0px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 5px;
    width: 700px;
}

.organizer2 h1 {
    font-size: 35px;
}

.organizer2 i {
    font-size: 120px;
}

.organizer2 h2 {
    font-size: 25px;
    color: gray;
}