@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Tinos&display=swap');


body {
    background-color: rgb(255, 255, 255);
}

.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: transparent;
    backdrop-filter: blur(5px);
}

.navbar {
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 24%;
    max-width: 500px;
    gap: 20px;

    border: solid 1px black;
    border-radius: 30px;
    margin-top: 20px;

    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2000;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
}



.lottie {
    width: 70px;
    height: 100px;
    margin-top: -24px;
}

.lottie:hover {
    cursor: pointer;
    transition: transform 0.4s;
    transform: scale(1.1);
}

.ltext {
    display: none;
    color: black;
}

.ltext h1 {
    font-size: 10px;
    text-align: center;
}

.ltext.open {
    display: flex;
    margin-top: -30px;
    margin-left: 30px;
    color: antiquewhite;
    border: #b6b6b6;
    border-radius: 50px;
    background-color: black;
    padding-top: 0.2px;
    padding-bottom: 0.2px;
}

.navs {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
    font-display: none;

}

.navs a {
    text-decoration: none;
    color: black;
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 8px;

}

.navs a:hover {
    transform: scale(1.1);
    color: rgb(8, 176, 191);
    transition: transform 0.4s;
}

.logsin {
    text-decoration: none; 
    color: inherit;        
}

.logsin h1 {
    font-size: 20px;
    font-style: normal;

}
.sinlog button {
    border-radius: 50px;
    margin-top: 37px;
    transition: transform .2s ease-in-out .1s, color .2s ease-in .1s;
}

.sinlog button:hover {
    color: rgb(8, 176, 191);
    cursor: pointer;
    transform: scale(1.1);
}



.homecontent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-align: center;
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: normal;

    font-size: 50px;
    color: rgb(0, 0, 0);
    margin-bottom: 50px;
    margin-top: -60px;
}

.pic {
    margin-top: -60px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 999;
}


@keyframes float {
    0% {
        transform: translate(-50%, 0px);
    }

    50% {
        transform: translate(-50%, -10px);
    }

    100% {
        transform: translate(-50%, 0px);
    }
}


.topim {
    position: absolute;
    z-index: 1001;
    left: 50%;
    transform: translateX(-50%);
    align-self: center;
    border-radius: 25px 25px 0px 0px;
    height: 560px;
    width: auto;

    animation: float 4s ease-in-out infinite;

    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.3));
}

.botim {
    height: 450px;
    margin-top: 120px;
    align-self: center;
    width: 1100px;
}

.logo img {
    height: 110px;
    margin-top: 20px;
}