
body {
    background-color: #fcfaf2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
    z-index: 1;
}

.bglogo{
    position: absolute;
    z-index: 2;
    margin-top: 10%;
}

.bglogo img{
    height: 550px;
    margin-top: -18%;
}

.logincontainer {
    padding: 20px;
    width: 100%;
    border: transparent;
    border-radius: 5%;
    max-width: 400px;
    backdrop-filter: blur(5px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .3);
    position: absolute;
    z-index: 4;

}


.logoarea img {
    height: 80px;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    font-weight: 700;
    margin: 10px 0;
    color: #111;
}

p {
    font-size: 14px;
    color: #666;
    margin-bottom: 30px;
}

.googlebtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
    background: white;
    border: 1px solid #ddd;
    padding: 12px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
}

.googlebtn img {
    height: 20px;
}

.googlebtn:hover {
    background: #f9f9f9;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.footer {
    margin-top: 30px;
    font-size: 11px;
    color: #999;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}