.logo img{
    height: 100px;
}

.register {
    width: 100% !important;
    padding: 10px;
    overflow-x: hidden;
}

.registerpic img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}


.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px !important; 
    margin: 20px 0;
}

.titletext h1 {
    font-size: 32px !important;
    text-align: center;
}

.button h1 {
    font-size: 24px !important;
}

.button button {
    margin-top: 0 !important; 
    width: 200px;
}


.description h1 {
    font-size: 18px !important;
    padding: 0 15px !important;
    text-align: justify;
    margin-top: -100px !important;
}


.timesetting {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 15px !important; 
    margin: 30px 0 !important;
    margin-left: 0 !important;
}

.datetime, .location {
    width: 90% !important; 
    gap: 15px !important;
}

.dateicon i, .locationicon i {
    font-size: 40px !important; 
}

.datedetails h1, .locationdetails h1 {
    font-size: 18px !important;
}

.organizers {
    margin-left: 0 !important; 
    align-items: center;
    width: 100%;
}

.organizer1, .organizer2 {
    width: 90% !important; 
    border-radius: 20px !important; 
}

.organizer1 i, .organizer2 i {
    font-size: 60px !important; .logo img{
    height: 150px;
}
}

.organizer1 h1, .organizer2 h1 {
    font-size: 20px !important;
}

.eventdetails {
    padding-left: 15px !important;
    padding-right: 15px !important;
}