.profilecontain {
    background-color: rgb(248, 248, 248);
    padding: 40px 20px;
    font-family: 'Inter', sans-serif;
    color: #333;
    user-select: none;
}

.profile {
    background: rgba(151, 149, 149, 0.17);
    max-width: 700px;
    margin: 0 auto;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(7px);
    user-select: none;
}

@keyframes floatprofile {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }


}


.imagecontain img {
    border: solid 0.5px;
    border-radius: 100%;
    margin-left: 250px;
    animation: floatprofile 3s ease-in-out infinite;
}

.avatar button {
    margin-left: 283px;
    margin-top: 15px;
    height: 40px;
    border-radius: 20px;
    user-select: none;
}

.avatar button:hover {
    transition: all .2s ease .1s;
    transform: scale(1.03);
    background-color: rgb(211, 224, 241);

}


label {
    display: block;
    font-size: 11px;
    font-weight: 300;
    letter-spacing: 1.5px;
    color: #888;
    margin-bottom: 5px;
    user-select: none;
}

.profiletext {
    font-size: 18px;
    font-weight: 700;
    color: #111;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    user-select: none;
}

.status {
    display: flex;

}

.officer,
.verified {
    padding: 6px 16px;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    margin-right: 10px;
    user-select: none;
}

.officer {
    background: #111;
    color: white;
}

.verified {
    background: #e8f5e9;
    color: #2e7d32;
    border: 1px solid #c8e6c9;
}

.qr-box {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 15px;
    display: inline-block;
    margin: 20px 0;
    border: 1px dashed #ccc;
}

.qrcontain img {
    height: 200px;
}

.btn-primary {
    background: #111;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.btn-primary:hover {
    opacity: 0.8;
}