.ltext {
        display: none;
}

.home {
        position: relative;
        z-index: 1;
}

.lottie {
        height: 100px;
        width: 60px;
}

.logo img {
        height: 100px;
        margin-top: 13.5px;
}

.navbar {
        display: none;
        flex-direction: column;
        border: transparent;
        width: 96px;
        padding-left: 10px;
        border-radius: 16px;
        background: rgba(0, 0, 0, 0.20);
        box-shadow: 0 10px 30px rgba(0, 0, 0, .3);
        backdrop-filter: blur(30px);
        height: fit-content;
        position: absolute;
        z-index: 100;

        margin-top: 100px;
        margin-left: -150px;
}

.navbar.open {
        display: flex;
}

.navs {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding-bottom: 5px;
}

.navs a {
        font-size: 7px;
        text-decoration: none;
        color: black;
        font-family: "Tinos", serif;
        font-weight: 400;
        font-style: normal;
}

.home {
        display: flex;
        flex-direction: column;

}

.topbar {
        display: flex;
        background-color: rgb(251, 251, 251);
        backdrop-filter: blur(10px);
        box-shadow: 0 10px 30px rgba(0, 0, 0, .3);
        height: 110px;
        border-radius: 10px;
}

.profilecontainer img{
    border: transparent;
    border-radius: 900px;
    width: 50%;
    margin-top: 10%;
    margin-left: 40%;

}


.homecontent {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
}

.title {
        text-align: center;

        font-family: "Tinos", serif;
        font-weight: 400;
        font-style: normal;

        font-size: 15px;
        color: rgb(0, 0, 0);
        margin-bottom: 50px;

}

.pic {

        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1;
}


@keyframes float {
        0% {
                transform: translate(-50%, 0px);
        }

        50% {
                transform: translate(-50%, -9px);
        }

        100% {
                transform: translate(-50%, 0px);
        }
}


.topim {
        width: 370px;
        height: auto;
        position: absolute;
        z-index: 1;
        left: 50%;
        transform: translateX(-50%);
        align-self: center;
        border-radius: 15px 15px 0px 0px;
        animation: float 4s ease-in-out infinite;
        filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.3));
}

.botim {
        width: 400px;
        height: 140px;
        margin-top: 80px;
        align-self: center;
}

.logo {
        margin-top: -10px;
}